.curation-criteria {
  display: inline-flex;
  margin: 0 auto 25px;
  .btn {
    display: inline-flex;
    text-align: center;
    button {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      padding: 5px 0.665em;
      white-space: nowrap;
    }
    &:not(:first-child):not(:last-child) {
      margin-left: 0;
      button {
        border-radius: 0;
      }
    }
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    & + .btn {
      button {
        margin-left: -1px;
      }
    }
  }

  // Button colors:
  $buttons: benign-supporting #2b67a0, pathogenic-moderate #d36735,
    pathogenic-strong #d33535, pathogenic-supporting #728b42,
    pathogenic-very-strong #d33535, stand-alone #62387e;

  button {
    @each $button in $buttons {
      $key: nth($button, 1);
      $value: nth($button, 2);

      &.#{$key} {
        color: $value;
      }
    }
  }

  @media screen and (max-width: 1140px) {
    display: block;
    button {
      margin-bottom: 3px;
    }
  }
}
