@import "~rfs/scss";

.title-box {
  padding: 0 1%;
  position: relative;
  text-align: left;
  > button {
    border: 1px solid #1b75bc;
    background-color: #1b75bc;
    border-radius: 2px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: #fff;
    cursor: pointer;
    float: right;
    @include font-size(14px);
    line-height: 1.42857;
    outline: none;
    padding: 6px 12px;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    white-space: nowrap;
    &:hover {
      border-color: #293894;
      background-color: #293894;
    }
  }
  > h1 {
    @include font-size(40px);
    margin: 5px 0 2px;
    max-width: 91%;
    text-overflow: ellipsis;
    .fa-info-circle {
      color: #31708f;
      @include font-size(15px);
    }
  }
  > h2 {
    @include font-size(1.1rem);
    font-weight: 300;
    line-height: 1.2;
  }
}

.ra-tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  @include font-size(14px);
  padding: 1%;
  width: 400px;
}
